<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Remove this in production -->
    <script src="http://localhost:35729/livereload.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/gsap@2.0.2/umd/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.min.js" type="text/javascript"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy" rel="stylesheet">

    <link rel="stylesheet" href="https://use.typekit.net/wcb7mdd.css">

    <link href="./css/style.css" rel="stylesheet" />

    <script src="./js/steamy.js" defer type="text/javascript"></script>

    <title>XOXO</title>
</head>
<body>

<div class="steamy-title">
    <div class="row">
        <div class="col">
            <div class="waves">
                <svg width="163px" height="62px" viewBox="0 0 163 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Group" transform="translate(0.000000, -7.000000)" stroke="#1000CD" stroke-width="4">
                            <path d="M0.916428262,20.1482587 C14.3085756,21.6849613 14.4630757,31.4544171 29.8875889,30.8942167 C39.3629053,30.5500843 45.5752673,13.9738852 53.1229024,13.6077684 C62.1385235,13.1704433 89.6852242,31.6145606 102.915335,21.2247614 C106.716177,18.2399046 109.602714,13.4303714 113.559244,10.8099016 C114.794644,9.99167776 116.407157,10.7560216 117.690174,11.4391616 C121.586502,13.5137545 124.842658,17.5685642 128.909934,18.9833477 C142.001012,23.5370199 150.846888,13.7653895 160.671038,4.6525145" id="Path-3" transform="translate(80.793733, 17.784951) rotate(3.000000) translate(-80.793733, -17.784951) "></path>
                            <path d="M0.916428262,58.6582018 C14.3085756,60.1949044 14.4630757,69.9643602 29.8875889,69.4041598 C39.3629053,69.0600274 45.5752673,52.4838283 53.1229024,52.1177115 C62.1385235,51.6803864 89.6852242,70.1245037 102.915335,59.7347045 C106.716177,56.7498477 109.602714,51.9403145 113.559244,49.3198447 C114.794644,48.5016209 116.407157,49.2659647 117.690174,49.9491047 C121.586502,52.0236976 124.842658,56.0785073 128.909934,57.4932907 C142.001012,62.046963 150.846888,52.2753326 160.671038,43.1624576" id="Path-3" transform="translate(80.793733, 56.294894) rotate(3.000000) translate(-80.793733, -56.294894) "></path>
                            <path d="M0.916428262,39.6582018 C14.3085756,41.1949044 14.4630757,50.9643602 29.8875889,50.4041598 C39.3629053,50.0600274 45.5752673,33.4838283 53.1229024,33.1177115 C62.1385235,32.6803864 89.6852242,51.1245037 102.915335,40.7347045 C106.716177,37.7498477 109.602714,32.9403145 113.559244,30.3198447 C114.794644,29.5016209 116.407157,30.2659647 117.690174,30.9491047 C121.586502,33.0236976 124.842658,37.0785073 128.909934,38.4932907 C142.001012,43.046963 150.846888,33.2753326 160.671038,24.1624576" id="Path-3" transform="translate(80.793733, 37.294894) rotate(3.000000) translate(-80.793733, -37.294894) "></path>
                        </g>
                    </g>
                </svg>
            </div>
            <h1>amy & steve</h1>
            <h2>are getting married!</h2>
        </div>
    </div>
    <div class="yay">
        yay!
        <div>
            <svg width="11px" height="132px" viewBox="0 0 11 132" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path class="arrow" id="Line" d="M6,129.091247 L9.56421223,122.754869 L9.80934285,122.319082 L10.6809184,122.809343 L10.4357878,123.245131 L5.93578777,131.245131 L5.5,132.019864 L5.06421223,131.245131 L0.564212231,123.245131 L0.319081612,122.809343 L1.19065715,122.319082 L1.43578777,122.754869 L5,129.091247 L5,123 L5,0.5 L5,-3.55271368e-14 L6,-3.55271368e-14 L6,0.5 L6,123 L6,129.091247 Z" fill="#000000" fill-rule="nonzero"></path>
                </g>
            </svg>
        </div>
    </div>
</div>

{{#if subtitle}}
    <h2>{{subtitle}}</h2>
{{/if}}

<div class="container-fluid">
   {{{ contents }}}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
