$font-stack: 'Lato', sans-serif
$color-1: #f0f3f6
$color-2: #f3df50
$color-3: #e3673d
$color-4: #357ed4
$color-5: #04208c
$color-6: #bababa

$display-font-stack: futura-pt, sans-serif
$display-font-weight: 500
$display-font-style: normal

%display-fonted
    font-family: $display-font-stack
    font-weight: $display-font-weight
    font-style: $display-font-style

// header - kerning 100, 18 pt, orange all caps
// subtitle - 24pt
// text - 16pt

//$display-font-stack: brandon-grotesque, sans-serif
// 400, 700, 900, italic

body
    font-family: $font-stack

.container-fluid
    padding-left: 0
    padding-right: 0

.steamy-title
    @extend %display-fonted
    background-image: linear-gradient($color-4, $color-5)
    font-size: 3rem
    color: $color-2
    padding: 8rem 1rem 0rem 1rem
    text-align: center
    background-color: $color-4
    min-height: 100vh
    position: relative

    h1
        font-size: 4rem

    h2
        font-size: 1.8rem
        color: $color-1

    .waves
        margin-bottom: 4rem


    .yay
        position: absolute
        bottom: 0
        font-size: 1.5rem
        font-weight: 400
        width: 10rem
        left: 50%
        transform: translateX(-50%)
        .arrow
            fill: $color-2

h3
    font-family: $display-font-stack
    font-size: 2rem
    color: $color-3
    text-align: center

    border-bottom: 3px solid $color-3
    font-weight: 700
    width: 50%
    margin: 0 auto 3rem auto

h4
    color: $color-4
    font-family: $display-font-stack
    text-align: left
    font-weight: 700

#basics
    position: relative
    min-height: 100vh
    background-image: linear-gradient($color-2, $color-1 33%)
    .col-md
        margin-top: 15%

#travel
    min-height: 100vh
    position: relative
    .location
        opacity: 0
        position: absolute
    .location-details
        opacity: 0
    #sfo
        top: 100px
        left: 50px
    #oak
        top: 40px
        left: 120px
    #sjc
        top: 200px
        left: 135px
    #mry
        top: 450px
        left: 90px

#travel2
    #map
        float: left
    svg
        height: 100vh

#landmarks
    padding-bottom: 1400px // to line up the landmarks with the scrolling better
    .card-body
        background-color: rgba(255, 255, 255, 0.9)
        margin-bottom: 100px
        position: relative

        img
            margin-left: -200px
            border-radius: 50%
            height: 180px
            width: 180px
            object-fit: cover
            position: absolute
            //transform: translate(0, -50%)
            top: 20px

.card-body
    @extend %display-fonted
    max-width: 450px
    color: $color-6
    font-size: 16pt
    transition: opacity 200ms
    //transition: margin-left 200ms

.faded
    opacity: 0.5
    img
        opacity: 0
        transition: opacity 200ms

.highlight
    //margin-left: -40px
    //transition: margin-left 200ms


.card-title
    color: $color-3
    text-transform: uppercase
    padding-bottom: 18px
    margin: 0
    font-size: 18pt
    letter-spacing: 2px

.card-subtitle
    color: $color-4
    font-size: 24pt
    padding-bottom: 14px